.root {
  padding: 2rem;
  max-width: 50%;
  margin: 1rem auto;
}
.container {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
@media all and (max-width: 768px) {
  .root {
    max-width: 70%;
  }
}

@media all and (max-width: 600px) {
  .root {
    max-width: 90%;
  }
}
